{% extends 'base.html' %}

{% block title %}Гостевая книга{% endblock %}

{% block content %}
    <h1>Записи</h1>
    {% for guestbook in guestbooks %}
        <div class="card mb-1" style="max-width: 30rem;">
          <h5 class="card-header">{{ guestbook.name }} ({{ guestbook.email }})</h5>
          <div class="card-body">
            <p class="card-text">{{ guestbook.text }}</p>
              <a href="{% url 'guestbook_update' guestbook.pk %}"><button class="btn btn-dark">
                  <i class="fa fa-pencil-square-o"></i> Редактировать</button></a>

              <a href="{% url 'guestbook_delete' guestbook.pk %}"><button class="btn btn-dark">
                  <i class="fa fa-trash"></i> Удалить</button></a>
          </div>
        </div>
    {% endfor %}
{% endblock %}