body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #444444;
    margin-top: 60px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}

h1 {
    font-size: medium;
    text-transform: uppercase;
}

input .name {
    width: 300px;
}